<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhu.autologin"
    android:versionCode="2"
    android:versionName="1.2.1">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- //允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:priority="1000"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <receiver
            android:name=".destoryboot"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.zhu.autologin.destorybootbroadcast" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> <!-- 这句话不写会导致Default Activity not found -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".WiFiReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="true">
            <intent-filter>

                <!-- 这些安卓8中静态注册全都停用了，除非改目标版本 -->
                <!-- &lt;!&ndash;?这是触发动作？&ndash;&gt; -->
                <action android:name="WifiManager.NETWORK_STATE_CHANGED_ACTION" />

                <!-- <action android:name="android.permission.ACCESS_NETWOEK_STATE"/> -->

                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".boot"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".wifiLogin"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>